/* Стилі для заголовка "Reviews" */
.Reviews {
    font-size: 24px;
    margin-bottom: 20px;
}

.Author {
    list-style-type: none;
    padding: 0;
}

.AuthorList {
    margin-bottom: 20px;
}

.AuthorTitle {
    font-weight: bold;
}

.AuthorName {
    margin-left: 8px;
    font-weight: normal;
}

.AuthorContent {
    margin-top: 8px;
}

.NoComments {
    font-style: italic;
    color: #888;
}